:root {
    font-family:Arial, Helvetica, sans-serif;

    --color-background: #F5F5F5;
    --color-background-secondary: #F9F4A2;
    --color-text: #2b2b2b;
    --color-text-impact: #000000;
    --color-accent: #64ECF9;
    --color-accent-secondary: #F02D34;
}

/*  F5F5F5, 64ECF9, F02D34, FAD07C, F9F4A2 */