<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Template</title>
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body style="
    margin: 0;
    padding: 0;
">
    <!-- COPY BELOW -->

    <header>
        <div class="header-bar">
            <div class="header-bar__left">
                <h2>Taskling</h2>
            </div>
            <div class="header-bar__right">
                <ul class="header-links">
                    <li class="header-links__item"><a href="about.html">About</a></li>
                    <li class="header-links__item"><a href="contact.html">Contact</a></li>
                    <li class="header-links__item"><a href="forum.html">Forum</a></li>
                    <li class="header-links__item submenu">
                        <ul id="account-info" class="header-links">
                            <!-- replace this content if the user is logged in - #account-info -->
                            <li class="header-links__item bold"><a href="login.html">Log In</a></li>
                            <li class="header-links__item bold"><a href="signup.html">Sign Up</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <!-- COPY ABOVE -->
</body>
</html>